.search-page {
    text-align: center;
    
        .search-header {
        width: 90vw;
        margin: 0px auto;
        display: grid;
        grid-template-columns: 9fr 1fr;

        .view-icon-group {
            margin-top: 20%;
            padding: 20px;
        }

        .view-icon {
            width: 10px;
            height: 10px;
        }
    }
}